Flask
Flask-Cors
Flask-SQLAlchemy
requests
email-validator
python-dotenv
dnspython
sendgrid
blinker
click
itsdangerous
jinja2
markupsafe
werkzeug
sqlalchemy
charset_normalizer
idna
urllib3
certifi
python-http-client
ecdsa
six
greenlet
typing-extensions